<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>twetta</h1> 
  
  <%= form_tag({:controller => 'profile', :action => 'search'}) do %>
    <%= text_field_tag(:handle) %>
    <%= submit_tag("Search") %>
  <% end %>

  
  <%= yield %>
  </body>
</html>
